/*PAGINA CONTACTO*/
#contacto {
    height: 110vh;
    padding: 2rem 1rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 12px;

    button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: #323539;
    color: var(--texto-color);
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
}

#contacto input[type="text"],
#contacto input[type="email"],
#contacto textarea {
    background-color: #949daa;
    width: 100%;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}


@media (min-width: 600px) {
    #contacto .row {
        display: flex;
        gap: 1rem;
    }
}